<div class="c-group -space-S u-space-t-M">

  <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "#{OmniAuth::Utils.camelize(provider)}でログイン", omniauth_authorize_path(resource_name, provider), class: 'c-btn-default u-text-size-M' %>
      <% end -%>
  <% end -%>


  <%- if controller_name != 'sessions' %>
  <p>
    <%= link_to 'ログイン', new_session_path(resource_name), class: 'u-text-link' %>
  </p>
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p>
    <%= link_to 'サインアップ', new_registration_path(resource_name), class: 'u-text-link' %>
  </p>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <p>
    <%= link_to 'パスワードをお忘れですか？', new_password_path(resource_name), class: 'u-text-link' %>
  </p>
  <% end -%>


</div>
