@import "../foundation/config";

@mixin btnBase(){
  position: relative;
  display: inline-block;
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid;
  padding: $f-margin-XS $f-margin-M;
  line-height: 1;
  text-align: center;
  font-size: $f-font-size-S;
  cursor: pointer;

  &.-block{
    width: 100%;
  }
}

.c-btn {
  &-default {
    @include btnBase();
    color: #333;
    background-color: #fff;
    border-color: #ccc;

    &:hover, &:focus{
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }

  &-primary {
    @include btnBase();
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;

    &:hover, &:focus{
      background-color: #3071a9;
      border-color: #285e8e;
    }
  }

  &-danger {
    @include btnBase();
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;

    &:hover, &:focus{
      background-color: #c9302c;
      border-color: #ac2925
    }
  }
}
