.p-videoModal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;

  &__closeModalButton{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    cursor: pointer;
  }

  &__body{
    max-width: 854px;
    max-height: 480px;
    //background-color: rgba(255, 255, 255, 1);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    z-index: 2;
    //overflow: hidden;
  }

  //&__player{
  //  float: left;
  //  position: relative;
  //  width: 560px;
  //  height: 315px;
  //
  //  iframe{
  //    width: 100%;
  //    position: absolute;
  //    top:0;
  //    left: 0;
  //  }
  //}

  &__player{
    position: relative;
    max-width: 854px;
    max-height: 480px;

    iframe{
      width: 100%;
      position: absolute;
      top:0;
      left: 0;
    }

    &:before{
      content:"";
      display: block;
      padding-top: 56.25%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
    }
  }

  //&__trackList{
  //  padding-right: 4px;
  //  height: 315px;
  //  overflow-y: auto;
  //
  //  &Body{
  //    display: table;
  //
  //    > * {
  //      display: table-cell;
  //      vertical-align: middle;
  //      text-align: left;
  //    }
  //  }
  //
  //  &Thumb{
  //    width: 60px;
  //  }
  //
  //}
}

//@media screen and (max-width: 800px) {
//  .p-videoModal__player{
//    width: 100%;
//
//    &:before{
//      content:"";
//      display: block;
//      padding-top: 56.25%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
//    }
//
//  }
//}
