<!DOCTYPE html>
<html>
<head>
  <title>Yukebox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <a href="#" class="js-logout">ログアウト</a>
  <div>
    <input type="text" name="track_id" placeholder="track_id" value="99">
    <input type="text" name="user_id" placeholder="user_id" value="1">
    <input type="text" name="video_id" placeholder="video_id" value="hoge">
    <input type="text" name="track_num" placeholder="track_num" value="1">
    <input type="text" name="track_title" placeholder="track_title" value="hogeの1曲目">
    <br>
    <input type="text" name="edit_delete_id" placeholder="edit_delete_id" value="">
    <a href="#" class="js-addTrack">trackの追加</a>
    <a href="#" class="js-editTrack">trackの編集</a>
    <a href="#" class="js-deleteTrack">trackの削除</a>
  </div>

</header>

<%= yield %>

<%= javascript_include_tag 'application' %>
</body>
</html>
