<!DOCTYPE html>
<html>
<head>
  <title>Yukebox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <a href="#" class="js-logout">ログアウト</a>
</header>

<%= yield %>

<%= javascript_include_tag 'application' %>
</body>
</html>
